{% extends 'base.html' %}
{% block content %}
  <main class="px-3">
    <section class="py-5 text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-12 mx-auto">
          <h1 class="fw-light">Agregar Asesor</h1>
        </div>
      </div>
    </section>

    <div class="container mt-5">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido:</label>
          <input type="text" class="form-control" id="apellido" name="apellido" required>
        </div>
        <div class="mb-3">
          <label for="cedula" class="form-label">Cédula:</label>
          <input type="text" class="form-control" id="cedula" name="cedula" required>
        </div>
        <div class="mb-3">
          <label for="rol" class="form-label">Rol:</label>
          <input type="text" class="form-control" id="rol" name="rol" required>
        </div>
        <div class="mb-3">
          <label for="id_grupo" class="form-label">Grupo:</label>
          <select class="form-control" id="id_grupo" name="id_grupo">
            {% for grupo in grupos %}
              <option value="{{ grupo.id }}">{{ grupo.detalle }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="profile_picture" class="form-label">Imagen de perfil:</label>
          <input type="file" class="form-control" id="profile_picture" name="profile_picture">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}